
. {
		margin:0;
}
body {
		font-family:"Maison Neue Book",Helvetica,华文细黑,Arial;
		font-size:16px;
		color:#69606b;
		background:#f9f9f9;
		width:99%;
}
h1 {
		font-size:32px;
		color:#61a64b;
		margin:0;
}

a {
		text-decoration:none;
}
a:link {
		color:#69606b;
}

a:visited {
		color:#69606b;
}
a:hover {
		color:pink;
}
		
head {
		position:relative;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background:#fff;
	z-index:200;
}



.bg-img:first-child {
		bottom:50%;
		-webkit-transition: -webkit-transform .9s;
}

.bg-img:last-child {
		top:50%;
		position:fixed;
	-webkit-transition: -webkit-transform .9s;
	-webkit-transform: opacity 7s;
}

.main_title {
	position: absolute;
	left:5%;
	top:30%;
	width:35%;
		  -webkit-transition: top .9s;
	-webkit-transform: opacity 7s;
	z-index:500;
}


/* Content */
.main_content {
		font-size:16px;
margin: 0 auto;
width:60%;
margin-top:4%;
margin-bottom:5%;
}


.double {
float:right;
margin-right:-5%;
}
button {
		background:#61a64b;
		text-decoration:none;
		cursor:pointer;
}
button:first-child {
		display:block;
}
button:last-child {
		display:none;
}
.main_content h3 {
margin: 0;
		font-size: 1.4em;
}

#page {
width: 98%;
}


#type {

float:left;
	  margin-left:-10%;
}
.title {
		font-size:28px;
		margin:2% 0;
}

.content img{
width:100%;
}
#image .content {
float:left;
margin:1%;
width:150px;
}
.user {
		float:right;
}

.date {
		margin-bottom:2%;
}
.tag{padding-bottom:1%;clear:both;}
a.ta0{border-bottom:3px solid #61a64b;}
a.ta1{border-bottom:3px solid #66ccff;}
a.ta2{border-bottom:3px solid red;}

#status .date {
display:none;
}

#status .user {
margin-bottom:2%;
}
#status .tag {
display:none;
}

#pagenavi {
margin-top:3%;
margin-bottom:3%;
}

#pagenavi a:link {
padding:10px;
background:#69606b;
}
#pagenavi a:hover {
padding:10px;
background:pink;
}
#article {
width:100%;
float:left;
-webkit-transition:width .8s;
}
.article {
		background:#fff;
		padding:1%;
		border:1px solid #ebeaea;
		margin-bottom:2%;
}
#side {
display:none;
float:right;
width:24%;
break-word:word-break;
overflow:hidden;
}
}
/* side */

/* nav */
nav{width:100%;margin:0 auto;font-size:20px;height:50px;text-align:center;background:#fff;position:absolute;
transition: height .6s;
		transition-delay: .3s;
}
nav:before{
position: absolute;
content: "";
top: -1px;
left: 0;
right: 0;
height: 1px;
background: rgba(0,0,0,.05);
	}
nav ul {margin:0 auto;list-style:none;}

nav >ul >li{float:left;margin-left:2%;margin-top:16px;font-size: 1em;position:relative;}
nav ul li .foot{position:fixed;right:2%;font-size:12px;line-height:20px;}
nav >ul >li >a:hover:after{content:'';position:absolute;bottom:0;left:0;right:0;height:2px;background:#0f0;}
nav ul li ul{visibility:hidden;position:absolute;bottom:30px;transition:visibility 2s;}
nav ul li:hover>ul{visibility:visible;}
footer {
		width:100%;
		position:fixed;
		bottom:0px;
		height:50px;
		background:#fff;
}
/** widget **/
.widget{background:#fff;padding:1%;margin-bottom:4%;border:1px solid #ebeaea;}
#widget{margin:2% 0;padding:2% 4%;line-height:20px;word-break:break-all;}
#side img{
margin-left:10%;
-webkit-transition: 1s; 
-moz-transition: 1s; 
transition: 1s; 
-webkit-border-radius: 20px; 
-moz-border-radius: 20px; 
border-radius: 20px; 
} 
#side img:hover { 
		-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1); 
		-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1); 
		box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1); 
		-webkit-border-radius: 60em; 
		-moz-border-radius: 60em; 
		border-radius: 60em; }
#side .widget_tag span{color:#61a64b;margin:2% 0;}
#pagenavi{clear:both;}
#share{clear:both;}
#widget ul li{list-style:none;float:left;margin-right:8%;}

/** font-image **/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?4ixrtn');
	src:url('fonts/icomoon.eot?#iefix4ixrtn') format('embedded-opentype'),
		url('fonts/icomoon.woff?4ixrtn') format('woff'),
		url('fonts/icomoon.ttf?4ixrtn') format('truetype'),
		url('fonts/icomoon.svg?4ixrtn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-heart2:before {
	content: "\e603";
}
.icon-star:before {
	content: "\e604";
}
.icon-flag:before {
	content: "\e605";
}
.icon-tag:before {
	content: "\e606";
}
.icon-megaphone:before {
	content: "\e607";
}
/**  loading **/
.spinner {
		display:none;
		
margin: 100px auto;
width: 32px;
height: 32px;
position: fixed;
top:30%;
left:50%;
}

.cube1, .cube2 {
background-color: #67CF22;
width: 30px;
height: 30px;
position: absolute;
top: 0;
left: 0;
-webkit-animation: cubemove 1.8s infinite ease-in-out;
animation: cubemove 1.8s infinite ease-in-out;
}
.cube2 {
-webkit-animation-delay: -0.9s;
animation-delay: -0.9s;
}
@-webkit-keyframes cubemove {
25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
100% { -webkit-transform: rotate(-360deg) }
}
@keyframes cubemove {
25% { 
transform: translateX(42px) rotate(-90deg) scale(0.5);
-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
} 50% { 
transform: translateX(42px) translateY(42px) rotate(-179deg);
-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
} 50.1% { 
transform: translateX(42px) translateY(42px) rotate(-180deg);
-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
} 75% { 
transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
} 100% { 
transform: rotate(-360deg);
-webkit-transform: rotate(-360deg);
}
}


