* {
		margin:0 auto;
}

body {
		font-family:微软雅黑,"Maison Neue Book",Helvetica,华文细黑,Arial;
		font-size:16px;
		color:#69606b;
}
@media screen and (max-width:1366px) {
.bg_img {
		background:url('../image/head.jpg') no-repeat;
		background-size:100% 100%;
		width:100%;
		height:630px;
		position:relative;
		box-shadow:0 5px 30px #000;
}
.main_title {
		position:absolute;
		top:45%;
		left:10%;
}
}
nav {
		height:30px;
		box-shadow:0 1px #ebeaea;
		border-bottom:2px solid #ebeaea;
		position:relative;
}
nav ul li {
		float:left;
}
